{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_errors(registrationForm) }}

    <wa-card style="max-width: 45ch; margin: 0 auto">
        <div class="wa-stack">
            {{ form_start(registrationForm, {'attr': {'id': 'register-form'}}) }}
            <h2 class="wa-heading-l">Register</h2>
            <wa-input label="Username" name="{{ field_name(registrationForm.username) }}" type="text"></wa-input>
            {{ form_errors(registrationForm.username) }}
            {% do registrationForm.username.setRendered() %}
            <wa-input
                label="Password"
                name="{{ field_name(registrationForm.plainPassword.password) }}"
                type="password">
            </wa-input>
            {{ form_errors(registrationForm.plainPassword.password) }}
            {% do registrationForm.plainPassword.setRendered() %}
            <wa-input
                label="Confirm your password"
                name="{{ field_name(registrationForm.plainPassword.confirm_password) }}"
                type="password">
            </wa-input>
            {{ form_errors(registrationForm.plainPassword.confirm_password) }}
            {{ form_errors(registrationForm.plainPassword) }}
            {% do registrationForm.plainPassword.setRendered() %}

            <wa-checkbox name="{{ field_name(registrationForm.agreeTerms) }}" value="1">Agree terms and conditions</wa-checkbox>
            {{ form_errors(registrationForm.agreeTerms) }}
            {% do registrationForm.agreeTerms.setRendered() %}
            {{ form_end(registrationForm) }}
        </div>
    </wa-card>
{% endblock %}

{% block stylesheets %}
<style>
ul {
    li {
        font-size: small;
        color: red;
    }
}
</style>
{% endblock %}
